<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

        <!-- Polymer -->
  <!-- 1. Polymer - Load platform support before any code that touches the DOM. -->
        <script src="/static/bower_components/webcomponentsjs/webcomponents.min.js"></script>     

        <link rel="import" href="/static/bower_components/paper-slider/paper-slider.html">

        <title>Flappy Arm</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">

    </head>

<body>
<header>
header
</header>
<h1>About</h1>
<footer>
    <a href="https://github.com/hax0rs">UQ Hax0rs</a>
</footer>
</body>
</html>


