<!doctype html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

        <!-- Polymer -->
  <!-- 1. Polymer - Load platform support before any code that touches the DOM. -->
        <script src="/static/bower_components/webcomponentsjs/webcomponents.min.js"></script>     

        <link rel="import" href="/static/bower_components/paper-slider/paper-slider.html">

        <title>Flappy Arm</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                var socket = io.connect('http://{{ ip }}:5000');

                function update_value (value) {
                    socket.emit('json' ,{"id":{{ controllerID }}-1, "value":value});
                };



$(".slider").on("input", function(){
    console.log(this.value)
    update_value(this.value);

});

            });
        </script>
    </head>


    <body>
        {% if controllerID %}
        
        <header class="header">
            <h1>Hello {{ controllerID }}</h1>
        </header>

<div class="main">


        <img src="/static/img/{{ controllerID }}.png">

<!-- <p>Your slider has a value of </p> -->





<input class="slider" type="range" min="-100" max="100" step="1" value="0" name="page" />


</div>




<footer class="footer">
UQ hax0rs<br>
{{ ip }}
</footer>
        {% else %}
        <h1>Sorry, please wait for the next game.</h1>
        {% endif %}


    </body>
</html>



</head>
