<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>



  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
          


        <title>Flappy Arm</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                var socket = io.connect('http://{{ ip }}:5000');

                function update_value (value) {
                    socket.emit('json' ,{"id":{{ controllerID }}-1, "value":value});
                };

                $(".control_slider").on("input", function(){
                    console.log(this.value)
                    update_value(this.value);
                });

            });



        </script>
    </head>
    <body>
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</header>

<h1>This is home</h1>
<footer>
    <a href="https://github.com/hax0rs">UQ Hax0rs</a>
</footer>
</body>
</html>