<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>



  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
          

        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <title>FlappyArm</title>
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css"> -->
        <link rel="stylesheet" type="text/css" href="/static/css/colors.css">

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){

                $(".button-collapse").sideNav();

            });

        </script>

        <style type="text/css">
            .control_point{
                /*background-color: blue;*/
                padding: 15px;
                border-bottom: 1px solid grey;
            }            
        </style>
    </head>
    <body class="offwhite">
  <nav class="deep_purple">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">FlappyArm</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/play/">Play</a></li>
      </ul>
    </div>
  </nav>


<!-- 
    controller_name = {
        0: "Base",
        1: "Shoulder",
        2: "Elbow",
        3: "Wrist Rotation",
        4: "Wrist",
        5: "Pincer Rotation",
        6: "Pincer"
    }
 -->

<div>
    <article class="control_point">
        <div class="container">
            <h2>Base</h2>
        </div>
    </article>
        <article class="control_point">
        <div class="container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </article>
        <article class="control_point">
        <div class="container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </article>
</div>



    <footer>
        <a href="https://github.com/hax0rs">UQ Hax0rs</a><br>
        {{ ip }}
    </footer>
</body>
</html>