*{
    margin: 0px;
    font-family: arial;
}

h1{
    margin: 0;
    font-size: 32px;
}

body{
    background-color: #412135;
}


.yellow{
    background-color: #FFE165 !important;
}

.tangerine{
    background-color: #de4242 !important;
}

.plum{
    background-color: #84243B !important;
}

.deep_purple{
    background-color: #412135 !important;
}

.offwhite{
    background-color: #FAFAFA !important;
}

input{
    width: 90%;
}


a{
    text-decoration: none;
    color: #84243B;
}

a:hover{
    color: #8E2E45;
}


header{
     background-color: #de4242;
     border-bottom: 2px solid #412135; 
     min-height: 80px;  
     text-align: center;
}

nav{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.main{
    background-color: #FFE165;
    padding: 15px;
    padding-left: 25px;
    text-align: center;
}

footer{
    background-color: #412135;
    color: #84243B;
    min-height: 80px;
    padding: 15px;
    text-align: center;
}




/*Materialize Overrides*/
input[type=range] {
    border: 0px solid white;
    width: calc(100% - 10px);
    color: black;
}


input[type="range" i] {
    -webkit-appearance: slider-horizontal;
    padding: initial;
    height: 60px;
    border: initial;
    margin: 2px;
    color: black;
}


