<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>



  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
          


        <title>FlappyArm - 404</title>
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css"> -->
        <link rel="stylesheet" type="text/css" href="/static/css/colors.css">


    </head>
    <body class="deep_purple">


<div class="main">
    <h1 class="offwhite-text">Looks like you're lost?</h1>
</div>




</body>
</html>