<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>



  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
          


        <title>Flappy Arm</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                var socket = io.connect('http://{{ ip }}:5000');

                function update_value (value) {
                    socket.emit('json' ,{"id":{{ controllerID }}, "value":value});
                };

                $(".control_slider").on("input", function(){
                    update_value(this.value);
                });

            });



        </script>
    </head>



    <body>
{% if controllerID >= 0 and controllerID <= 6 %}
        
        <header>
            <h1>Controlling: {{ controller_name }}</h1>
        </header>



        <div class="main">
            <img src="/static/img/{{ controllerID }}.png">

            <form action="#">
                <p class="range-field">
                    <input class="control_slider"
                           type="range" 
                           value="0" 
                           min="-100" 
                           max="100" />
                </p>
            </form>
        </div>




{% else %}

<h1>That control point is unavailable.</h1>

{% endif %}

        <footer>
            <a href="https://github.com/hax0rs">UQ Hax0rs</a><br>
            {{ ip }}
        </footer>
    </body>
</html>


