.yellow{
    background-color: #FFE165 !important;
}

.tangerine{
    background-color: #de4242 !important;
}

.plum{
    background-color: #84243B !important;
}

.deep_purple{
    background-color: #412135 !important;
}

.offwhite{
    background-color: #FAFAFA !important;
}


.yellow-text{
    color: #FFE165 !important;
}

.tangerine-text{
    color: #de4242 !important;
}

.plum-text{
    color: #84243B !important;
}

.deep_purple-text{
    color: #412135 !important;
}

.offwhite-text{
    color: #FAFAFA !important;
}